html {
    margin: 0;
}

body {
    margin: 0;
    background: url(cassette-sram.jpg);
    font-family: monospace, sans-serif;
    font-size: 1.4em;
	font-weight: bold;
    color: #90001C;
}

h1 {
    margin: 1em 0;
    padding: 0.3em 0;
    text-align: center;
    background: rgba(128, 128, 128, 0.2);
    color: black;
    font-family: monospace, bold, sans-serif;
    font-size: 1.8em;
    text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
    box-shadow: 0 0 16px rgba(128, 128, 128, 0.4);
}

ul {
    margin: 0;
    padding: 0 2em;
}

li {
    list-style: none;
    margin: 0.2em;
}

li form {
    display: inline;
    margin: 0 0.2em 0 0;
}

li span {
    margin: 0;
    padding: 0 0.2em;
}

li form input {
    border: none;
    background: none;
}

li input.check, span.check {
    color: green;
}

span.delete, span.check, li form input {
    cursor: pointer;
    font-size: 1.1em;
}

li.done span.todo {
    text-decoration: line-through;
}

body > form {
    margin: 0 2em 0 3.8em;
}

body > form:before {
    font-size: 1.6em;
    content: "âœ ";
}

body > form input {
    font-family: inherit, cursive, sans-serif;
    font-size: 1em;
    width: 75%;
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    border-left: 1px solid rgba(128, 128, 128, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

body > form input, li {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 16px rgba(128, 128, 128, 0.2);
}

li:hover {
    background: rgba(255, 255, 255, 0.7);
}

